<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="GarduinoDatabase"
     providerName="System.Data.SqlProvider"
     connectionString="Server=localhost;Database=garden;User Id=garden_collector;Password=gnome123!@#;" />
  </connectionStrings>
</configuration>