body {
	font-family:Arial, Helvetica, sans-serif;	
	line-height:18px;
	font-size:12px;
	color: #06185c; 
	background: #e6fad6 url(body_bg.jpg) no-repeat top center; 
	margin: 0; 
	padding: 0;
}

body a:link, a:active, a:visited{
	text-decoration:none;
	color:#720a0b;
}

body a:hover{
	text-decoration:underline;
}